In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn

In [2]:
df=pd.read_csv("C:\\Users\\user\\Downloads\\archive (1)\\UCI_Credit_Card.csv")
df

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
0,1,20000.0,2,2,1,24,2,2,-1,-1,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
1,2,120000.0,2,2,2,26,-1,2,0,0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1
2,3,90000.0,2,2,2,34,0,0,0,0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
3,4,50000.0,2,2,1,37,0,0,0,0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0
4,5,50000.0,1,2,1,57,-1,0,-1,0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,29996,220000.0,1,3,1,39,0,0,0,0,...,88004.0,31237.0,15980.0,8500.0,20000.0,5003.0,3047.0,5000.0,1000.0,0
29996,29997,150000.0,1,3,2,43,-1,-1,-1,-1,...,8979.0,5190.0,0.0,1837.0,3526.0,8998.0,129.0,0.0,0.0,0
29997,29998,30000.0,1,2,2,37,4,3,2,-1,...,20878.0,20582.0,19357.0,0.0,0.0,22000.0,4200.0,2000.0,3100.0,1
29998,29999,80000.0,1,3,1,41,1,-1,0,0,...,52774.0,11855.0,48944.0,85900.0,3409.0,1178.0,1926.0,52964.0,1804.0,1
29999,30000,50000.0,1,2,1,46,0,0,0,0,...,36535.0,32428.0,15313.0,2078.0,1800.0,1430.0,1000.0,1000.0,1000.0,1

In [3]:
df.info

<bound method DataFrame.info of           ID  LIMIT_BAL  SEX  EDUCATION  MARRIAGE  AGE  PAY_0  PAY_2  PAY_3  \
0          1    20000.0    2          2         1   24      2      2     -1
1          2   120000.0    2          2         2   26     -1      2      0
2          3    90000.0    2          2         2   34      0      0      0
3          4    50000.0    2          2         1   37      0      0      0
4          5    50000.0    1          2         1   57     -1      0     -1
...      ...        ...  ...        ...       ...  ...    ...    ...    ...
29995  29996   220000.0    1          3         1   39      0      0      0
29996  29997   150000.0    1          3         2   43     -1     -1     -1
29997  29998    30000.0    1          2         2   37      4      3      2
29998  29999    80000.0    1          3         1   41      1     -1      0
29999  30000    50000.0    1          2         1   46      0      0      0

       PAY_4  ...  BILL_AMT4  BILL_AMT5  BILL_AMT6  PAY_AMT1  PAY_AMT2  \
0         -1  ...        0.0        0.0        0.0       0.0     689.0
1          0  ...     3272.0     3455.0     3261.0       0.0    1000.0
2          0  ...    14331.0    14948.0    15549.0    1518.0    1500.0
3          0  ...    28314.0    28959.0    29547.0    2000.0    2019.0
4          0  ...    20940.0    19146.0    19131.0    2000.0   36681.0
...      ...  ...        ...        ...        ...       ...       ...
29995      0  ...    88004.0    31237.0    15980.0    8500.0   20000.0
29996     -1  ...     8979.0     5190.0        0.0    1837.0    3526.0
29997     -1  ...    20878.0    20582.0    19357.0       0.0       0.0
29998      0  ...    52774.0    11855.0    48944.0   85900.0    3409.0
29999      0  ...    36535.0    32428.0    15313.0    2078.0    1800.0

       PAY_AMT3  PAY_AMT4  PAY_AMT5  PAY_AMT6  default.payment.next.month
0           0.0       0.0       0.0       0.0                           1
1        1000.0    1000.0       0.0    2000.0                           1
2        1000.0    1000.0    1000.0    5000.0                           0
3        1200.0    1100.0    1069.0    1000.0                           0
4       10000.0    9000.0     689.0     679.0                           0
...         ...       ...       ...       ...                         ...
29995    5003.0    3047.0    5000.0    1000.0                           0
29996    8998.0     129.0       0.0       0.0                           0
29997   22000.0    4200.0    2000.0    3100.0                           1
29998    1178.0    1926.0   52964.0    1804.0                           1
29999    1430.0    1000.0    1000.0    1000.0                           1

[30000 rows x 25 columns]>

In [4]:
df.isnull()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
29996,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
29997,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
29998,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
29999,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [6]:
df.isnull().sum()

ID                            0
LIMIT_BAL                     0
SEX                           0
EDUCATION                     0
MARRIAGE                      0
AGE                           0
PAY_0                         0
PAY_2                         0
PAY_3                         0
PAY_4                         0
PAY_5                         0
PAY_6                         0
BILL_AMT1                     0
BILL_AMT2                     0
BILL_AMT3                     0
BILL_AMT4                     0
BILL_AMT5                     0
BILL_AMT6                     0
PAY_AMT1                      0
PAY_AMT2                      0
PAY_AMT3                      0
PAY_AMT4                      0
PAY_AMT5                      0
PAY_AMT6                      0
default.payment.next.month    0
dtype: int64

In [10]:
x=df.drop(['default.payment.next.month'],axis=1)
x

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6
0,1,20000.0,2,2,1,24,2,2,-1,-1,...,689.0,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0
1,2,120000.0,2,2,2,26,-1,2,0,0,...,2682.0,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0
2,3,90000.0,2,2,2,34,0,0,0,0,...,13559.0,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0
3,4,50000.0,2,2,1,37,0,0,0,0,...,49291.0,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0
4,5,50000.0,1,2,1,57,-1,0,-1,0,...,35835.0,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,29996,220000.0,1,3,1,39,0,0,0,0,...,208365.0,88004.0,31237.0,15980.0,8500.0,20000.0,5003.0,3047.0,5000.0,1000.0
29996,29997,150000.0,1,3,2,43,-1,-1,-1,-1,...,3502.0,8979.0,5190.0,0.0,1837.0,3526.0,8998.0,129.0,0.0,0.0
29997,29998,30000.0,1,2,2,37,4,3,2,-1,...,2758.0,20878.0,20582.0,19357.0,0.0,0.0,22000.0,4200.0,2000.0,3100.0
29998,29999,80000.0,1,3,1,41,1,-1,0,0,...,76304.0,52774.0,11855.0,48944.0,85900.0,3409.0,1178.0,1926.0,52964.0,1804.0
29999,30000,50000.0,1,2,1,46,0,0,0,0,...,49764.0,36535.0,32428.0,15313.0,2078.0,1800.0,1430.0,1000.0,1000.0,1000.0

y=df['default.payment.next.month']
y

In [13]:
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC

In [14]:
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.25,random_state=24)

In [15]:
x_train

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6
28619,28620,50000.0,2,3,1,48,0,0,0,0,...,23177.0,8550.0,6373.0,5848.0,4100.0,1150.0,1200.0,1000.0,1000.0,1500.0
11748,11749,100000.0,2,1,1,34,1,2,2,2,...,48287.0,49091.0,50149.0,51176.0,0.0,3978.0,1900.0,2000.0,2000.0,0.0
145,146,50000.0,1,1,2,28,0,0,0,0,...,7315.0,9195.0,10624.0,10138.0,1000.0,1500.0,2000.0,1583.0,1100.0,0.0
12427,12428,200000.0,2,2,2,35,-1,-1,-1,-1,...,3308.0,481.0,-19.0,3821.0,1228.0,3324.0,483.0,0.0,3840.0,0.0
19656,19657,100000.0,2,1,2,33,-1,2,2,-1,...,0.0,3198.0,3198.0,5198.0,0.0,0.0,3198.0,0.0,2000.0,3348.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19857,19858,340000.0,2,1,2,38,0,0,0,0,...,241509.0,275045.0,268429.0,262575.0,11000.0,11060.0,50008.0,8400.0,10000.0,10000.0
24919,24920,150000.0,1,1,2,41,-1,2,-1,-1,...,990.0,990.0,990.0,1980.0,0.0,990.0,990.0,990.0,1980.0,0.0
14528,14529,180000.0,2,3,2,25,0,0,0,0,...,87773.0,89547.0,91639.0,93991.0,3507.0,3201.0,3200.0,3500.0,4000.0,3704.0
899,900,200000.0,1,1,1,36,-1,-1,0,-1,...,5935.0,295.0,1867.0,0.0,11496.0,1011.0,297.0,2923.0,0.0,0.0
12706,12707,390000.0,1,1,1,38,-1,-1,-1,0,...,18119.0,15220.0,7658.0,7547.0,6090.0,18119.0,304.0,416.0,7547.0,897.0

In [16]:
x_test

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6
25706,25707,360000.0,2,1,1,39,-1,-1,-1,-1,...,17918.0,19259.0,26924.0,19049.0,31110.0,17918.0,19459.0,26924.0,19049.0,7648.0
2412,2413,30000.0,1,2,3,50,2,0,0,0,...,14450.0,14903.0,16500.0,18715.0,2000.0,2000.0,693.0,2000.0,2500.0,668.0
13346,13347,210000.0,2,1,1,23,-2,-2,-2,-1,...,0.0,29337.0,30362.0,31356.0,0.0,0.0,29337.0,1500.0,1500.0,1500.0
23685,23686,60000.0,2,3,1,63,0,0,0,0,...,49580.0,38140.0,29843.0,27719.0,2400.0,1940.0,1477.0,1025.0,1006.0,1261.0
9943,9944,160000.0,2,2,1,33,0,0,0,0,...,175363.0,172417.0,165800.0,158671.0,8113.0,6395.0,10000.0,6160.0,5772.0,5854.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9589,9590,170000.0,2,1,2,30,1,-2,-1,-1,...,550.0,0.0,0.0,0.0,0.0,550.0,0.0,0.0,0.0,0.0
14834,14835,200000.0,1,1,2,37,0,0,0,0,...,134110.0,139209.0,135902.0,138997.0,15034.0,20038.0,20019.0,5014.0,10047.0,10238.0
23716,23717,30000.0,2,3,1,52,1,-2,-2,-2,...,-760.0,-760.0,760.0,760.0,0.0,0.0,0.0,1520.0,0.0,0.0
5941,5942,30000.0,2,2,1,30,0,0,0,2,...,28478.0,27754.0,28186.0,30240.0,1500.0,3000.0,0.0,1001.0,2500.0,1200.0
14314,14315,80000.0,1,2,1,60,2,2,2,2,...,50372.0,51246.0,52279.0,53069.0,2100.0,2000.0,2000.0,2000.0,1800.0,1000.0

In [17]:
model=SVC()

In [18]:
model.fit(x_train,y_train)

SVC()

In [20]:
model.score(x_test,y_test)

0.7775111111111112

In [22]:
from sklearn.linear_model import LogisticRegression
model_01=LogisticRegression()
model_01.fit(x_train,y_train)
model_01.score(x_test,y_test)

C:\Users\user\AppData\Local\Programs\Python\Python313\Lib\site-packages\sklearn\linear_model\_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.7773777777777777

In [23]:
from sklearn.ensemble import RandomForestClassifier
model_02=RandomForestClassifier()
model_02.fit(x_train,y_train)
model_02.score(x_test,y_test)

0.8147111111111112